# Comment consolider 2 fichiers?

In [9]:
import pandas as pd
df1 = pd.read_excel("EURUSD=X_TODAY.xlsx")
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
0,0,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179795,1.172751,1.169583
1,1,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179304,1.172751,1.169419
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178981,1.172751,1.169312
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179142,1.172751,1.169366
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179616,1.172751,1.169523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,88,2021-07-05,1.185593,1.188200,1.185201,1.185621,1.185621,0.0,EURUSD=X,NaN,NaN,NaN,NaN
89,89,2021-07-02,1.184708,1.186099,1.181935,1.184624,1.184624,0.0,EURUSD=X,NaN,NaN,NaN,NaN
90,90,2021-07-01,1.185536,1.188399,1.183810,1.185677,1.185677,0.0,EURUSD=X,NaN,NaN,NaN,NaN
91,91,2021-06-30,1.189994,1.191043,1.184582,1.190193,1.190193,0.0,EURUSD=X,NaN,NaN,NaN,NaN
92,92,2021-06-29,1.193033,1.193033,1.188044,1.192890,1.192890,0.0,EURUSD=X,NaN,NaN,NaN,NaN

In [10]:
df2 = pd.read_excel("EURGBP=X_TODAY.xlsx")
df2

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
0,0,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,EURGBP=X,0.84983,0.855835,0.855175,0.853613
1,1,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,EURGBP=X,0.84983,0.855572,0.855175,0.853526
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURGBP=X,0.84983,0.854913,0.855175,0.853306
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURGBP=X,0.84983,0.854563,0.855175,0.853189
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURGBP=X,0.84983,0.853556,0.855175,0.852854
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,88,2021-07-05,0.85722,0.85804,0.85618,0.85710,0.85710,0.0,EURGBP=X,NaN,NaN,NaN,NaN
89,89,2021-07-02,0.86090,0.86102,0.85872,0.86089,0.86089,0.0,EURGBP=X,NaN,NaN,NaN,NaN
90,90,2021-07-01,0.85730,0.86145,0.85650,0.85729,0.85729,0.0,EURGBP=X,NaN,NaN,NaN,NaN
91,91,2021-06-30,0.85965,0.86083,0.85689,0.85977,0.85977,0.0,EURGBP=X,NaN,NaN,NaN,NaN
92,92,2021-06-29,0.85945,0.86090,0.85870,0.85940,0.85940,0.0,EURGBP=X,NaN,NaN,NaN,NaN

In [11]:
data = pd.concat([df1,df2],axis=0)
data

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
0,0,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179795,1.172751,1.169583
1,1,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179304,1.172751,1.169419
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178981,1.172751,1.169312
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179142,1.172751,1.169366
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179616,1.172751,1.169523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,88,2021-07-05,0.85722,0.85804,0.85618,0.85710,0.85710,0.0,EURGBP=X,NaN,NaN,NaN,NaN
89,89,2021-07-02,0.86090,0.86102,0.85872,0.86089,0.86089,0.0,EURGBP=X,NaN,NaN,NaN,NaN
90,90,2021-07-01,0.85730,0.86145,0.85650,0.85729,0.85729,0.0,EURGBP=X,NaN,NaN,NaN,NaN
91,91,2021-06-30,0.85965,0.86083,0.85689,0.85977,0.85977,0.0,EURGBP=X,NaN,NaN,NaN,NaN
92,92,2021-06-29,0.85945,0.86090,0.85870,0.85940,0.85940,0.0,EURGBP=X,NaN,NaN,NaN,NaN