# Faire un TCD

Voici ma documentation pour la gestion cash aujourd'hui.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {
        "item": ["apple", "apple", "apple", "apple", "apple"],
        "size": ["small", "small", "large", "large", "large"],
        "location": ["Walmart", "Aldi", "Walmart", "Aldi", "Aldi"],
        "price": [3, 2, 4, 3, 2.5],
    }
)
df

    item   size location  price
0  apple  small  Walmart    3.0
1  apple  small     Aldi    2.0
2  apple  large  Walmart    4.0
3  apple  large     Aldi    3.0
4  apple  large     Aldi    2.5

In [8]:
pivot = pd.pivot_table(
    df, values="price", index=["item", "size"], columns=["location"], aggfunc="min"
)
pivot

location     Aldi  Walmart
item  size
apple large   2.5      4.0
      small   2.0      3.0